<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT LanguageSelector ANY>
<!ATTLIST LanguageSelector id ID #REQUIRED>
<!ELEMENT NewsArea ANY>
<!ATTLIST NewsArea id ID #REQUIRED>
<!ELEMENT NewsItem ANY>
<!ATTLIST NewsItem id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <LanguageSelector id="1071" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1070" template="1069" sortOrder="0" createDate="2012-07-02T16:08:17" updateDate="2012-07-02T16:13:49" nodeName="Language selector" urlName="language-selector" writerName="Admin user" creatorName="Admin user" path="-1,1071" isDoc="">
    <bodyText><![CDATA[
<p>Welcome to Cutlass Corp!</p>
]]></bodyText>
  </LanguageSelector>
  <HomePage id="1044" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1042" template="1043" sortOrder="1" createDate="2012-07-02T09:54:31" updateDate="2012-07-02T16:29:20" nodeName="Welcome in English" urlName="en" writerName="Admin user" creatorName="Admin user" path="-1,1044" isDoc="">
    <bodyText><![CDATA[
<p><em>Lorem ipsum</em> dolor sit amet, consectetur adipiscing
elit. Ut tincidunt vulputate luctus. Aliquam eget libero quis sem
eleifend interdum nec sit amet elit. Aliquam ligula metus, faucibus
eget viverra convallis, scelerisque non mauris. Cras purus nibh,
tincidunt volutpat faucibus eget, facilisis in leo. Suspendisse
iaculis diam dolor, id scelerisque orci. Sed dui diam, tincidunt
tincidunt interdum at, pulvinar quis ligula. Nunc placerat
vestibulum ante sit amet lacinia. Aenean in nisi libero.</p>

<p>Suspendisse egestas, tortor eget condimentum mollis, risus orci
elementum sapien, et luctus arcu risus quis augue. Curabitur a eros
dui, eget varius nunc. Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Morbi
convallis rutrum odio, ut facilisis lorem tincidunt eget. Aenean
consequat, turpis non convallis accumsan, nisl erat feugiat libero,
id mattis elit felis nec augue. Quisque pulvinar elit in ipsum
accumsan hendrerit imperdiet ipsum volutpat. Quisque condimentum
purus id magna gravida id laoreet mauris mattis. Vivamus at libero
a enim ullamcorper dictum.</p>
]]></bodyText>
    <umbracoUrlName>en</umbracoUrlName>
    <TextPage id="1047" parentID="1044" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="1" createDate="2012-07-02T09:58:14" updateDate="2012-07-03T10:28:17" nodeName="Documentation" urlName="documentation" writerName="Admin user" creatorName="Admin user" path="-1,1044,1047" isDoc="">
      <TextPage id="1073" parentID="1047" level="3" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="1" createDate="2012-07-03T10:27:14" updateDate="2012-07-03T10:28:07" nodeName="Widget user guide" urlName="widget-user-guide" writerName="Admin user" creatorName="Admin user" path="-1,1044,1047,1073" isDoc="">
        <bodyText><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
diam est, dictum sit amet vulputate eu, sodales hendrerit tellus.
Nulla adipiscing risus eget lectus ultricies eleifend. Suspendisse
non ultrices velit. Morbi ornare venenatis nisi, porttitor vehicula
justo aliquam in. Morbi in magna lacus, eget mollis tortor. Sed
auctor enim sed nunc semper at sodales ligula facilisis. Aliquam
sit amet augue erat. Pellentesque sagittis arcu vel augue euismod
dictum. Nullam diam magna, tempor sed cursus at, ullamcorper ut
eros. Etiam dui orci, eleifend ut placerat non, euismod vitae elit.
Class aptent taciti sociosqu ad litora torquent per conubia nostra,
per inceptos himenaeos. Pellentesque augue nibh, luctus eget
gravida eget, mollis ut magna. Integer a tellus odio, vitae mattis
nunc. Quisque eleifend, orci id blandit mollis, lacus odio
vulputate orci, a placerat sem lacus id sapien.</p>

<p>Pellentesque placerat lectus vitae odio euismod a varius ipsum
varius. In non pulvinar ante. Donec convallis malesuada lacus quis
imperdiet. Nunc fringilla ligula et eros rhoncus sollicitudin.
Mauris tempor eros nec felis tincidunt quis commodo quam
scelerisque. Donec auctor dignissim lectus consectetur volutpat.
Morbi malesuada pellentesque mattis. Mauris dignissim consequat
tristique. Nam eget eros ipsum. Sed fringilla dignissim purus, vel
fringilla neque commodo eu.</p>

<p>Mauris velit eros, faucibus a aliquam non, molestie vulputate
eros. Maecenas velit orci, sollicitudin sed interdum quis,
ultricies et nisi. Sed pretium magna nec nulla vulputate porta. Sed
dapibus hendrerit rhoncus. Donec rhoncus venenatis urna, eu
dignissim augue laoreet et. Cras ut congue dui. Etiam scelerisque,
ligula id pharetra tincidunt, lacus enim aliquam nisl, ut tempus
diam mi at quam. Nullam tempor lacus in dui lacinia venenatis.
Pellentesque eget dui et felis euismod pellentesque. Curabitur
tincidunt mauris aliquet urna aliquet placerat congue lacus
congue.</p>
]]></bodyText>
        <sidebarText><![CDATA[
<p><br data-mce-bogus="1" id="__mce" />
</p>
]]></sidebarText>
        <sectionTitle />
      </TextPage>
      <bodyText><![CDATA[
<p>Here is some documentation.</p>

<p>Being documentation, no developer has written this yet.</p>
]]></bodyText>
      <sidebarText><![CDATA[Some optional sidebar text here]]></sidebarText>
      <sectionTitle>Documentation</sectionTitle>
    </TextPage>
    <TextPage id="1048" parentID="1044" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="2" createDate="2012-07-02T09:58:21" updateDate="2012-07-02T09:58:41" nodeName="About us" urlName="about-us" writerName="admin" creatorName="admin" path="-1,1044,1048" isDoc="">
      <bodyText><![CDATA[
<p>This is some About Us content.</p>

<p>Terribly interesting, isn't it?</p>
]]></bodyText>
    </TextPage>
    <NewsArea id="1059" parentID="1044" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="3" createDate="2012-07-02T13:52:25" updateDate="2012-07-02T13:52:43" nodeName="News" urlName="news" writerName="admin" creatorName="admin" path="-1,1044,1059" isDoc="">
      <bodyText><![CDATA[
<p>This is the latest exciting news from the world of Cutlass
Corp.</p>
]]></bodyText>
      <NewsItem id="1060" parentID="1059" level="3" writerID="0" creatorID="0" nodeType="1057" template="1058" sortOrder="1" createDate="2012-07-02T13:53:21" updateDate="2012-07-02T15:37:36" nodeName="Pizza pizza pizza!" urlName="pizza-pizza-pizza!" writerName="Admin user" creatorName="Admin user" path="-1,1044,1059,1060" isDoc="">
        <summary><![CDATA[A Scottish nutritionist has teamed up with an entrepreneur to produce what they claim are the first nutritionally balanced pizzas.

The pizzas are said to contain 30% of an adult's guideline daily amount of vitamins and minerals.]]></summary>
        <bodyText><![CDATA[
<p>They are also said to have a third of the recommended amount of
calories, protein and carbohydrate.</p>

<p>The pizzas were created by Mike Lean, of Glasgow University, and
businessman Donnie Maclean.</p>

<p>Prof Lean, of the university's human nutrition department said
the idea was born out of frustration.</p>

<p>He said: "If you go along to a supermarket or a restaurant and
buy a meal, then somebody should have thought about it
nutritionally.</p>

<p>"We've recently studied ready meals produced by the top five
supermarkets in Scotland -- common foods eaten in huge numbers --
and they're hopelessly unbalanced.</p>

<p>"They contain as much salt as you should have in a whole day or
more. They contain as much saturated fat as you should have in a
whole day or more. The nutrients we need every day are absent from
these meals. Nobody has thought about it. So I got together with
Donnie to try to do this."</p>

<h2>'Complete meal'</h2>

<p>Mr Maclean helped Prof Lean come up with unusual ways of
incorporating more nutrients into a pizza.</p>

<p>He said: "I researched the market and found that seaweed was an
interesting new ingredient being used in artisan bread.</p>

<p>"So we used that as a way of reducing the salt level. The sodium
content of seaweed is about 3.5% compared to 40% in salt. There's
iodine in there, vitamin B12, all sorts of things. And the flavour
is excellent as well."</p>

<p>Red pepper is also mixed in with the tomato base to give the
pizza extra vitamin C. As well as these nutrients, each pizza
contains magnesium, potassium, folates and vitamin A.</p>

<p>"The way the guidelines are set out, you have 20% of your
nutrients and calories from your breakfast, 30% from your lunch,
30% from your dinner, and an extra 20% for snacks," said Mr
Maclean, the founder of Eat Balanced.</p>

<p>"We focused on pizza being a lunch or a dinner option. Each
pizza gives a complete meal, with all the nutrients in it, for 30%
of your day."</p>

<p>A survey by Mintel suggested seven in 10 British adults eat
pizza, with forecasters predicting the market will be worth £1bn by
2016.</p>

<h2>Catering suppliers</h2>

<p>"For a good number of years I have been trying to help people
find easy ways to get a balanced diet," said Prof Lean, who is also
a consultant physician at Glasgow Royal Infirmary.</p>

<p>"The easiest way to do that is to eat nutritionally balanced
meals. Three of those a day and you've done it, but at the moment
commercially prepared meals are not nutritionally balanced. "</p>

<p>One major British supermarket chain has already indicated it
will stock the healthy pizzas, and Mr Maclean is in talks with
other supermarkets and catering suppliers.</p>

<p>The pizzas will only be available frozen as tests revealed the
nutrients were better preserved that way, and Prof Lean and Donald
Maclean said they had to work hard to keep prices down.</p>

<p>"Our pizzas are more expensive than most of the frozen pizzas
but on a par with the chilled pizzas," said Mr Maclean.</p>

<p>"So it shouldn't be a hard pill to swallow, or a hard pizza to
eat."</p>

<p>The pair now have other junk food classics in their sights.</p>

<p>They are already testing a recipe for a nutritionally balanced
curry and, after that, they're planning to tackle fish and
chips.</p>
]]></bodyText>
      </NewsItem>
      <NewsItem id="1061" parentID="1059" level="3" writerID="0" creatorID="0" nodeType="1057" template="1058" sortOrder="2" createDate="2012-07-02T14:03:00" updateDate="2012-07-02T15:09:28" nodeName="Diana Rigg!!" urlName="diana-rigg!!" writerName="Admin user" creatorName="Admin user" path="-1,1044,1059,1061" isDoc="">
        <summary><![CDATA[Mother and daughter Dame Diana Rigg and Rachael Stirling are to star side by side in a Doctor Who adventure to be broadcast next year.

It is the first time the pair have worked together on screen.]]></summary>
        <bodyText><![CDATA[
<p class="introduction">Mother and daughter Dame Diana Rigg and
Rachael Stirling are to star side by side in a Doctor Who adventure
to be broadcast next year.</p>

<p>It is the first time the pair have worked together on
screen.</p>

<p>The actresses will play "a mother and daughter with a dark
secret" alongside Matt Smith, as the Doctor, and new companion
Jenna-Louise Coleman.</p>

<p>Filming began this week at Roath Lock Studios in Cardiff.</p>

<p>Dame Diana Rigg, who played Emma Peel in The Avengers in the
1960s, will play "a Yorkshire local".</p>

<h2>"Madness"</h2>

<p>She said: "The first time Rachie and I will be working together
is on an episode of Doctor Who specially written for us by Mark
Gatiss. How lucky is that?"</p>

<p><br />
 "Mark Gatiss has written a gift of a script and an on-screen
relationship between Ma and I that is truly delicious.</p>

<p>Rachael Stirling said she was "looking forward to the madness of
Doctor Who enormously".</p>

<p>"We have never before worked together because the offers have
not been tempting, but when such a funny and original script comes
through you know the time has come."</p>

<p>Stirling's TV work includes Women In Love and Tipping the
Velvet.</p>

<p>Doctor Who's executive producer Steven Moffat said: "Dame Diana
Rigg, Rachael Stirling and a Mark Gatiss script - a combination of
talents you could only get in Doctor Who! Frankly, I'm terrified
already!"</p>

<p>2013 will be the 50th anniversary of Doctor Who, which was first
broadcast in November 1963.</p>
]]></bodyText>
      </NewsItem>
    </NewsArea>
  </HomePage>
  <HomePage id="1063" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1042" template="1043" sortOrder="2" createDate="2012-07-02T15:44:10" updateDate="2012-07-02T16:29:26" nodeName="Bienvenue en français" urlName="fr" writerName="Admin user" creatorName="Admin user" path="-1,1063" isDoc="">
    <TextPage id="1064" parentID="1063" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="1" createDate="2012-07-02T15:44:10" updateDate="2012-07-02T15:48:09" nodeName="Documentation" urlName="documentation" writerName="Admin user" creatorName="Admin user" path="-1,1063,1064" isDoc="">
      <bodyText><![CDATA[
<p>Voici la documentation.</p>

<p>Personne n'en a écrit.</p>
]]></bodyText>
      <sidebarText><![CDATA[
<p>Text facultatif ici.</p>
]]></sidebarText>
    </TextPage>
    <TextPage id="1065" parentID="1063" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="2" createDate="2012-07-02T15:44:10" updateDate="2012-07-02T15:48:21" nodeName="Qui sommes-nous ?" urlName="qui-sommes-nous-" writerName="Admin user" creatorName="Admin user" path="-1,1063,1065" isDoc="">
      <bodyText><![CDATA[
<p>Qui sommes-nous ?</p>
]]></bodyText>
      <sidebarText><![CDATA[]]></sidebarText>
    </TextPage>
    <NewsArea id="1066" parentID="1063" level="2" writerID="0" creatorID="0" nodeType="1055" template="1056" sortOrder="3" createDate="2012-07-02T15:44:11" updateDate="2012-07-02T15:49:46" nodeName="Actualités" urlName="actualités" writerName="Admin user" creatorName="Admin user" path="-1,1063,1066" isDoc="">
      <bodyText><![CDATA[
<p>Voici les actualités du Cutlass Corp</p>
]]></bodyText>
      <NewsItem id="1067" parentID="1066" level="3" writerID="0" creatorID="0" nodeType="1057" template="1058" sortOrder="1" createDate="2012-07-02T15:44:11" updateDate="2012-07-02T15:51:31" nodeName="Le soleil se fâche" urlName="le-soleil-se-fâche" writerName="Admin user" creatorName="Admin user" path="-1,1063,1066,1067" isDoc="">
        <summary><![CDATA[Le Soleil est en pleine forme et nous envoie des bouffées de particules chargées. Des éruptions massives se succèdent, dont celle-ci vue à l'horizon solaire.]]></summary>
        <bodyText><![CDATA[
<p>L'astre du jour est à mi-chemin de la phase ascendantes de son
cycle d'activité qui devrait culminer dans deux ou trois ans.</p>

<p>Aussi, ses "taches", se multiplient. Taches dont le nombre et la
dimension vont de pair avec la montée et la descente du cycle
d'activité. Ainsi, alors que l'on comptait 260 jours sans taches
durant l'année 2009, il n'y en avait plus que 51 en 2010, deux en
2011 et que l'on n'en compte aucun depuis le premier janvier
2012.</p>

<p>Voici l'astre du jour tel qu'observé par l'un des instruments
du&nbsp;<a
href="http://sci.esa.int/science-e/www/area/index.cfm?fareaid=14"
target="_self">télescope spatial Soho (Nasa/Esa)</a>. Soho est un
satellite lancé en 1995. Il observe en permanence le Soleil depuis
son poste avancé au&nbsp;Point de Lagrange n°1&nbsp;à 1,5 millions
de kilomètres de la Terre en direction du Soleil, ce qui lui permet
de rester comme "fixe" entre la planète et l'étoile. Le satellite
bat des records de longévité au grand bonheur des astrophysiciens.
Il a pu observer un cycle complet d'activité du Soleil, avec le pic
vers l'an 2000.</p>

<p>Le Soleil émet en permanence des flux de particules (électrons,
protons, ions) dans le milieu interplanétaire : c'est ce que l'on
appelle le vent solaire. Mais les&nbsp;éruptions solaires&nbsp;sont
des phénomènes aux énergies beaucoup plus élevées et dont les flux
de matière sont beaucoup plus importants. Plusieursmilliards de
tonnes&nbsp;de matière peuvent ainsi être&nbsp;éjectées&nbsp;avec
des vitesses de plus de 400 km/seconde. En expulsant dans l'espace
des bouffées de particules très énergétiques, il peut menacer notre
technologie spatiale (satellites et astronautes) comme les réseaux
et infrastructures métalliques de grande ampleur situés aux hautes
latitudes (dans le nord surtout). Voir<a
href="http://www.nasa.gov/mission_pages/stereo/multimedia/filament_eruption.html"
 target="_self">&nbsp;ici la capture d'une éruption
solaire</a>&nbsp;par les deux satellites qui observent l'astre en
ultraviolet.</p>

<p>Sous les coups de boutoirs des éruptions solaires, la
magnétosphère de la Terre plie parfois, et les particules chargées
s'engouffrent dans les "cornets" du bouclier magnétique, vers les
pôles. Ainsi, il y a un risque de&nbsp;35% de tempête géomagnétique
sévère&nbsp;dans les hauts latitudes aujourd'hui et demain.</p>

<p>&nbsp;</p>
]]></bodyText>
      </NewsItem>
      <NewsItem id="1068" parentID="1066" level="3" writerID="0" creatorID="0" nodeType="1057" template="1058" sortOrder="2" createDate="2012-07-02T15:44:11" updateDate="2012-07-02T15:52:42" nodeName="Pourquoi les tomates n'ont plus de goût ?" urlName="pourquoi-les-tomates-nont-plus-de-goût-" writerName="Admin user" creatorName="Admin user" path="-1,1063,1066,1068" isDoc="">
        <summary><![CDATA[ C'est bien connu, les tomates bien rouges achetées au supermarché n'ont pas de goût. Et même lorsque des variétés dites anciennes, ou d'origine russe, sont cultivées à grande échelle... le goût disparait.]]></summary>
        <bodyText><![CDATA[
<p>Une solution consiste à n'acheter que les tomates du producteur
bio ou raisonné, dont l'aspect est varié, avec des couleurs allant
du vert au rouge... mais qui ont du goût ! Une autre pourrait
venir... du génie biomoléculaire. Car une équipe de biologistes
américano-hispano-argentine vient de comprendre l'une des raisons
de ce manque de goût des tomates produites en masse.</p>

<p>&nbsp;L'article qui relate leur découverte est publié ce matin
dans la revue Science. On y comprend que tout vient de la décision
de sélectionner les tomates pour leur aspect visuel. Il fallait que
les tomates soient uniformément rouges dans les étals (entre
autres, en plus il faut qu'elles restent dures pour le transport,
etc).(C'est pas comme les bonnes tomates de toutes les couleurs,
sur la photo de gauche)</p>

<p>Donc, le trait génétique contrôlant l'uniformité du murissement
dans la totalité de la tomate a été sélectionné vigoureusement
pendant 70 ans, ce qui revenait à sélectionner celles qui étaient
uniformément vertes, avant de devenir uniformément rouges. Avec
succès. Les tomates sont bien toutes rouges. Et c'est pour ça, ont
découvert les biologistes qu'elles n'ont plus de goût.</p>

<p>Car la génétique est malicieuse. Et, en sélectionnant la
mutation du gène de l'uniformité du murissement, ont découvert Ann
Powell et ses collègues, ils ont permis à ce dernier d'inactiver un
facteur de transcription (dit GLK2), une protéine qui augmente la
capacité photosynthétique du fruit, et favorise la production de
sucres et de lycopènes responsables du goût de la tomate.</p>

<p>Les biologistes conseillent donc maintenant de faire de
nouvelles manipulations et sélections pour lever cette inactivation
et avoir des tomates toujours uniformément rouges, mais avec plus
de goût. Ils ont testé l'idée, ça marche (photo de droite). On peut
aussi continuer à soutenir les petits producteurs ou cultiver son
jardin, comme disait Voltaire (mais il parlait d'autre
chose...).</p>
]]></bodyText>
      </NewsItem>
    </NewsArea>
    <bodyText><![CDATA[
<p><em>Lorem ipsum</em> dolor sit amet, consectetur adipiscing
elit. Ut tincidunt vulputate luctus. Aliquam eget libero quis sem
eleifend interdum nec sit amet elit. Aliquam ligula metus, faucibus
eget viverra convallis, scelerisque non mauris. Cras purus nibh,
tincidunt volutpat faucibus eget, facilisis in leo. Suspendisse
iaculis diam dolor, id scelerisque orci. Sed dui diam, tincidunt
tincidunt interdum at, pulvinar quis ligula. Nunc placerat
vestibulum ante sit amet lacinia. Aenean in nisi libero.</p>

<p>Suspendisse egestas, tortor eget condimentum mollis, risus orci
elementum sapien, et luctus arcu risus quis augue. Curabitur a eros
dui, eget varius nunc. Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Morbi
convallis rutrum odio, ut facilisis lorem tincidunt eget. Aenean
consequat, turpis non convallis accumsan, nisl erat feugiat libero,
id mattis elit felis nec augue. Quisque pulvinar elit in ipsum
accumsan hendrerit imperdiet ipsum volutpat. Quisque condimentum
purus id magna gravida id laoreet mauris mattis. Vivamus at libero
a enim ullamcorper dictum.</p>
]]></bodyText>
    <umbracoUrlName>fr</umbracoUrlName>
  </HomePage>
</root>