<?xml version="1.0" encoding="utf-8"?>
<metablogapi>
  <channel>
    <name>Edit FAQ items</name>
    <user>2</user>
    <startNode>1086</startNode>
    <fullTree>True</fullTree>
    <documentTypeAlias>FAQItem</documentTypeAlias>
    <fields>
      <categories>
      </categories>
      <description>answer</description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="-1" mediaTypeAlias="image" mediaTypeFileProperty="umbracoFile" />
  </channel>
</metablogapi>