<ul class="list2">
            @{ var homeNode = Model.Parent; }
            @foreach (var page in homeNode.Children.Where("Visible"))
            {
              if (page.Id == Model.Id)
              {
                <li class="current"><a href="@page.Url">@page.Name</a></li>
              }
              else
              {
                <li><a href="@page.Url">@page.Name</a></li>
              }
            }
          </ul>