<ul class="list2">
            
            @{ var homeNode = Model.AncestorsOrSelf(1); }
            @foreach (var page in homeNode.Children.Where("Visible"))
            {
              <li><a href="@page.Url">@page.Name</a></li>
            }
          </ul>