@{var homeNode = Model.AncestorOrSelf(1); }
                    @foreach (var page in homeNode.Children.Where("Visible"))
                    {
                    <li><a href="@page.Url">@page.Name</a></li>
                    }